.git
.gitmodules
.docker
.idea
.claude
.gemini
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose*.yml
README.md
CHANGELOG.md
phpunit.xml
tests
.env
.env.example
.editorconfig
.styleci.yml
